/* Override any prior settings that disable scrolling */
html, body {
  overflow-y: visible;
}

/* Define the typefaces */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Added the !important property to ensure override */
a {
  text-decoration: none !important;
}

.container {
  /* Override bootstrap container parameters */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 0px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -345px;
  width: 400px;
  height: 100%;
  margin: auto 0px;
  background-color: #000F42;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 1;
}

/* Addition of visible class to use in JS */
#sidebar.visible {
  left: 0;
}

/* Sidebar min is the duplicate of the close menu to enable easier access to the menu */
#sidebar-min {
  position: fixed;
  top: 0;
  left: 0;
  width: 55px;
  height: 100%;
  margin: auto 0px;
  background-color: #000F42;
  opacity: 80%;
  transition: all 0.3s ease;
  z-index: 2;
  cursor: pointer;
}

#sidebar-min:hover {
  background-color: #003374;
}

/* Overarching id for menu content */
#menu-items {
  margin-top: 30%;
  z-index: 3;
}

/* Contain the min sidebar text elements in a container so it can be rotated */
#tab-container {
  position: fixed;
  bottom: 60px;
  left: 6px;
  padding: 5px;
  width: auto;
  height: auto;
  z-index: 3;
  transform: rotate(270deg);
}

.tab-text {
  position: fixed;
  font-style: italic;
  font-weight: 900;
  color: #fbd029;
  font-size: 25px;
  text-align: left;
  z-index: 3;
}

.tab-text:hover {
  color: white;
  cursor: pointer;
}

.hamburger {
  width: 35px;
  height: 5px;
  margin: 6px auto;
  background-color: #fbd029;
  z-index: 3;
}

/* Animation of the logo icon for when menu opens and closes */
#container-logo-icon {
  position: fixed;
  width: 35px;
  height: 35px;
  margin: 10px;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 3;
}

#container-logo-icon.visible {
  opacity: 0;
}

/* Contained hamburger elements in container to allow rotation in place */
#container-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 3;
}

#container-menu:hover .hamburger {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

#container-menu.rotate {
  transform: rotate(90deg);
}

#menu-logo {
  position: absolute;
  width: auto;
  height: 45px;
  top: 20px;
  margin-left: 80px;
  animation: logoFade 0.3s ease-in-out 1;
  z-index: 3;
}

@keyframes logoFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Menu text properties */
.menu-heading {
  position: relative;
  font-style: italic;
  font-weight: 900;
  color: #fbd029;
  margin-left: 80px;
  margin-top: 60px;
  font-size: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 3;
}

.menu-heading:hover {
  color: white;
}

/* Submenu text properties */
.submenu-heading {
  position: relative;
  font-style: italic;
  font-weight: 600;
  color: white;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 3;
}

.submenu-heading:hover {
  color: #fbd029;
}

/* Header image for hompage */
#home-image {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("img/home.jpg");
  background-size: cover;
}

/* Navy coloured overlay */
#navy-overlay {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000F42;
  filter: opacity(40%);
}

/* Header image for About page */
#header-image {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
  background-image: url("img/our_mission.png");
  background-size: cover;
}

/* Header image for Contact page */
#header-image-contact {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
  background-image: url("img/bg-contact-bw.png");
  background-size: cover;
}

/* Header image for tutorial page */
#header-image-tutorial {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
  background-image: url("img/bg-tutorial.png");
  background-size: cover;
}

/* Set about and contact content to be below the 70% header images */
#about_content {
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 70%;
  width: 100%;
  height: 30%;
  left: 0px;
  right: 0px;
}

.header-img-text {
  position: absolute;
  font-style: italic;
  font-weight: 900;
  color: white;
  margin-left: 10%;
  margin-top: 15%;
  font-size: 50px;
  transition: all 0.3s ease;
  animation: headingText 2s ease-in-out 1;
}

.header-img-text-tutorial {
  position: absolute;
  font-style: italic;
  font-weight: 900;
  color: white;
  margin-left: 10%;
  margin-top: 15%;
  font-size: 45px;
  transition: all 0.3s ease;
  animation: headingText 2s ease-in-out 1;
}

/* Used to override and previous properties */
.text-yellow {
  color: #fbd029;
}

/* Used to override and previous properties */
.text-navy {
  color: #003374;
}

/* Used to override and previous properties */
.header-text-small {
  font-size: 30px;
}

.header-image-body {
  position: absolute;
  font-style: italic;
  font-weight: 400;
  color: black;
  margin-left: 10%;
  margin-top: 21%;
  font-size: 20px;
  transition: all 0.3s ease;
  animation: bodyText 2s ease-in-out 1;
}

@keyframes headingText {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#header-logo {
  position: absolute;
  width: auto;
  height: 80px;
  top: 20px;
  right: 20px;
  animation: logoFade 2s ease-in-out 1;
}

.about_headings {
  position: relative;
  font-style: italic;
  font-weight: 900;
  color: #003374;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 50px;
  text-align: right;
  transition: all 0.3s ease;
  animation: headingText 2s ease-in-out 1;
}

.about_body {
  position: absolute;
  font-style: italic;
  font-weight: 400;
  color: black;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 20px;
  transition: all 0.3s ease;
  animation: bodyText 2s ease-in-out 1;
}

@keyframes bodyText {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Override settings for the tutorial content */
.row-override {
  margin-right: 0px;
}

.row-override2 {
  margin-right: 0px;
  margin-top: 25%;
}

.row-override3 {
  margin-right: 0px;
  margin-top: 20%;
}

#tutorial_content {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 70%;
  width: 100%;
  height: 30%;
  left: 0px;
  right: 0px;
}

.tutorial-screen-full {
  position: absolute;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  animation: bodyText 2s ease-in-out 1;
}

.tutorial-heading {
  position: relative;
  font-style: italic;
  font-weight: 900;
  color: #000F42;
  font-size: 30px;
  text-align: left;
  transition: all 0.3s ease;
  animation: headingText 2s ease-in-out 1;
}

.tutorial-body {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  color: black;
  font-size: 15px;
  transition: all 0.3s ease;
  animation: bodyText 2s ease-in-out 1;
}

.tutorial-text-right {
  margin-left: 40px;
  text-align: left;
}

.tutorial-text-left {
  margin-right: 40px;
  text-align: right;
}

/* Mobile settings and parameters */
@media only screen and (max-width: 768px) {
  #sidebar {
    left: -100%;
    width: 100%;
  }

  .menu-heading {
    font-size: 30px;
  }

  .submenu-heading {
    font-size: 15px;
  }

  .header-img-text {
    font-size: 35px;
    margin-left: 20%;
    margin-top: 20%;
  }

  .header-img-text-tutorial {
    font-size: 30px;
    margin-left: 20%;
    margin-top: 20%;
  }

  .header-image-body {
    font-size: 15px;
    margin-left: 20%;
    margin-top: 27%;
  }

  .header-text-small {
    font-size: 25px;
  }

  #header-logo {
    height: 40px;
  }

  .about_headings {
    font-size: 30px;
  }

  .about_body {
    font-size: 15px;
  }

  .tutorial-heading {
    font-size: 20px;
  }

  .tutorial-body {
    font-size: 12px;
  }
}